@model Fate.ViewModels.VMNA01

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>測試你潛意識的理想情人</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Images/logo.png")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/animate/animate.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.na01.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/util.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/na01.css")" />
    <style>
        #NewWordBlock input {
            max-width: 200px;
        }

        .blackBlock {
            position: fixed;
            top: 0px;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 9999999;
            display: none;
        }

        .loader {
            border: 16px solid #eee; /* Light grey */
            border-top: 16px solid #666; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 10% auto;
        }

        #popupInvoice .form-control {
            width: 100%;
        }

        #popupInvoice .form-check {
            padding-left: 0px;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .wrap-header {
            position: fixed;
            top: 0;
            height: 60px;
            background-color: #fff;
            width: 100%;
            text-align: center;
            line-height: 60px;
            color: #8E1617;
            font-size: 20px;
            font-weight: 600;
            z-index: 9999;
            border-bottom: 2px solid #8E1617;
        }

            .wrap-header div {
                max-width: 500px;
                margin: 0 auto;
                position: relative;
            }

                .wrap-header div img {
                    height: 100%;
                    padding: 5px;
                    position: absolute;
                    left: 0px;
                }




        .wrap-footer {
            background-image: url("./../img/footer_bg.png");
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            display: inline-block;
            padding: 6px 0 10px;
            background-color: #B03233;
        }

            .wrap-footer h4 {
                font-size: 16px;
            }

        .wrap-footer-content {
            width: 80%;
            margin: 0 auto;
            color: #fff;
            text-align: center;
        }

            .wrap-footer-content div {
                font-size: 0.8rem;
                height: 1rem;
                line-height: 1rem;
                margin-bottom: 15px;
                margin-top: 10px;
            }

                .wrap-footer-content div .line {
                    width: 1px;
                    background-color: #fff;
                    height: 50%;
                    vertical-align: top;
                    margin: 11px 0px 0px 12px;
                }

                .wrap-footer-content div span {
                    display: inline-block;
                    position: relative;
                }

                    .wrap-footer-content div span img {
                        width: 26px;
                        margin-right: 1rem;
                        margin-left: 1rem;
                        vertical-align: middle;
                    }

                    .wrap-footer-content div span h4 {
                        display: inline-block;
                        position: relative;
                    }

                        .wrap-footer-content div span h4 span {
                            position: absolute;
                            top: 22px;
                            left: 50%;
                            font-size: 0.5rem;
                            transform: translateX(-50%);
                        }

            .wrap-footer-content .copyright, .wrap-footer-content .mail {
                font-size: 0.7rem;
                height: 1.6rem;
                line-height: 1.6rem;
                margin-top: 25px;
            }

            .wrap-footer-content .footer-star {
                position: absolute;
                width: 16px;
                margin-left: -17px;
            }

                .wrap-footer-content .footer-star + .footer-star {
                    margin-left: 0px;
                }

        input[type="checkbox"] {
            width: 1.4rem; /*Desired width*/
            height: 1.4rem; /*Desired height*/
            position: absolute;
            left: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .goLine,
        .serviceIntro,
        .goMail,
        .goIndex,
        .goDivination,
        .click-divination,
        .goResult,
        .goDetail {
            cursor: pointer;
        }

        @@media (max-width:340px), print {
            .wrap-footer-content div span img {
                width: 16px;
                margin-right: 1rem;
                margin-left: 1rem;
                vertical-align: middle;
            }
            
            .wrap-footer-content div h4 {
                font-size: 0.6rem;
            }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151818705-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151818705-5');
    </script>

</head>
<body>
    <div class="wrap-header">
        <div>
            <img src="~/Images/logo_160.png" />
            理想情人
        </div>
    </div>
    <div class="container-contact100">
        <div class="wrap-contact100" style="margin-top: 60px;">
            <nav class="navbar navbar-top navbar-expand-lg bg-pink text-white">
                <span class="navbar-brand mx-auto">
                    <span></span>
                </span>
            </nav>

            <div class="banner-border">
                <img src="@Url.Content("~/images/back2.jpg")" class="banner" />
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "contact100-form validate-form form-wrap", id = "NA01Form" }))
            {
                <img src="@Url.Content("~/images/card.png")" class="input-bg" />
                <div class="wrap-input100">
                    <span class="input-title">姓氏</span>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-content", maxlength = "2" })
                </div>

                <div class="wrap-input100">
                    <span class="input-title">名字</span>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-content", maxlength = "2" })
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" type="button" id="GoBtn">
                            立即測算
                        </button>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="mt-5 result" id="Result">
                    <h4 class="result-title">測算內容</h4>
                    <div class="result-detail">
                        @Model.Result
                    </div>
                    <img src="@Url.Content("~/images/cherry1.png")" alt="" class="cherry1">
                    <img src="@Url.Content("~/images/cherry2.png")" alt="" class="cherry2">
                </div>
            }

            <div class="wrap-footer">
                <div class="wrap-footer-content">
                    <div>
                        <span><img style="margin-left: 0;" src="~/Images/Footer/icon_service.png"><h4>會員專區</h4></span>
                        <span class="line"></span>
                        <span class="serviceIntro" onclick="window.location.href='https://fate.opoint.com.tw/home/serviceIntro.html'"><img src="~/Images/Footer/icon_terms.png"><h4>服務條款</h4></span>
                    </div>
                    <div>
                        <span><img style="margin-left: 0;" src="~/Images/Footer/icon_fb.png"><h4>開運算算<span>@@luckyopft</span></h4></span>
                        <span class="line"></span>
                        <span class="goLine" onclick="window.location.href='https://line.me/R/ti/p/%40law3351s'"><img src="~/Images/Footer/icon_line.png"><h4><img class="footer-star" src="~/Images/Footer/footer_star.png">開運算算<img class="footer-star" src="~/Images/Footer/footer_star.png"><span>@@law3351s</span></h4></span>
                    </div>
                    <div class="goMail mail">客服信箱：<span style="text-decoration: underline;">opftservice@gmail.com</span></div>
                    <div class="goCoyright copyright">Copyright©2019 開運算算版權所有</div>
                </div>
            </div>
        </div>

    </div>



    <form id="paymentForm" method="post">
        <input type="hidden" name="data" id="paymentData" />
        <input type="hidden" name="txId" id="paymentTxId" />
    </form>

    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popup-for-purchaseLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color:red;">您的姓名內有不在我們資料庫的文字<br /><samll style="color:#808080; font-size:0.5em;">請輸入該文字筆畫，讓我們為您更精準的算出您的結果</samll></h5>

                </div>
                <div class="modal-body">
                    <div id="NewWordBlock">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="AddNewWordBtn" class="btn btn-primary">送出</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popupInvoice" tabindex="-1" role="dialog" aria-labelledby="popup-for-purchaseLabel" aria-hidden="true" style="margin-top: 120px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="font-size: 1.0em;">
                <div class="modal-body">
                    @*<div class="form-check receipt" id="EmailForm">
                            <label style="color:red;">＊E-Mail</label><small class="float-right" style="position:absolute; top:5px; right: 5px; color:red;">請填入你的 E-mail , 我們會將測算結果多寄一份到你的郵箱</small>
                            <input type="text" class="form-control" name="Email" id="Email" maxlength="50" placeholder="請輸入Email" />
                        </div>*@
                    <div class="form-check receipt" id="PhoneForm">
                        <label style="color:red;">＊手機號碼</label>
                        <select id="CountryNumber" class="form-control" style="margin-bottom: 5px;">
                            <option value="+886" selected>台灣 +886</option>
                            <option value="+86">中國 +86</option>
                            <option value="+852">香港 +852</option>
                            <option value="+853">澳門 +853</option>
                            <option value="+65">新加玻 +65</option>
                            <option value="+60">馬來西亞 +60</option>
                            <option value="other">其他</option>
                        </select>
                        <input type="text" class="form-control" style="display:none; margin-bottom: 5px;" id="Country" maxlength="50" placeholder="請輸入國碼：ex +886" />
                        <input type="text" class="form-control" id="Phone" maxlength="50" placeholder="請輸入手機號碼" />
                        <div style="text-align:center; color:red;">
                            輸入之手機號碼僅為開立電子發票使用
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="SendBtn" class="btn btn-dark">送出</button>
                </div>
            </div>
        </div>
    </div>

    <div class="blackBlock">
        <div class="loader"></div>
    </div>

    <script src="@Url.Content("~/vendor/jquery/jquery-3.2.1.min.js") "></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/popper.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/na01.js")"></script>
    <script>
        $(function () {

            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <text>$("html, body").animate({ scrollTop: $("#Result").offset().top - 20 });</text>
            }

            $('#GoBtn').click(function () {
                    if (validate()) {
                        var wordlist = ($('#LastName').val() + $('#FirstName').val()).split('');

                        $('.blackBlock').show();
                        $.ajax({
                            type: "POST",
                            async: true,
                            dataType: "json",
                            data: JSON.stringify(wordlist),
                            url: '@Url.Action("WordingCheck", "Fate")',
                            contentType: 'application/json; charset=UTF-8',
                            success: function (result) {
                                console.log(result);
                                if (result.length == 0) {
                                    $('.blackBlock').hide();
                                    $('#popupInvoice').modal('show');
                                    //$('#NA01Form').submit();
                                }
                                else {
                                    var wordingBlockElement = '<div><span>{{word}}</span><input class="form-control" data-word="{{word}}" name="newWord" type="text" placeholder="請輸入筆畫" /></div >';
                                    var temp = '';
                                    for (var index in result) {
                                        temp += wordingBlockElement.replace(/{{word}}/g, result[index])
                                    }
                                    $('#NewWordBlock').html(temp);
                                    $('.blackBlock').hide();
                                    $('#popup').modal('show');
                                }
                            }
                        });
                    }
            });

            $("#CountryNumber").change(function () {
                if ($("#CountryNumber").find(":selected").val() === 'other') {
                    $("#Country").show();
                }
                else {
                    $("#Country").hide();
                    $("#Country").val('');
                }
            });


            $("#SendBtn").click(function () {
                var phone = $("#Country").val() + ' ' + $("#Phone").val();
                if ($("#CountryNumber").find(":selected").val() !== 'other') {
                    phone = $("#CountryNumber").find(":selected").val() + ' ' + $("#Phone").val();
                }
                var condition = {
                    LastName: $("#LastName").val(),
                    FirstName: $("#FirstName").val(),
                };

                if (!$("#Phone").val()) {
                    alert('電話號碼為必填');
                    $('.blackBlock').hide();
                    return;
                }

                var channel = '@ViewBag.Channel';
                var postData = {
                    condition: JSON.stringify(condition),
                    name: $("#LastName").val() + $("#FirstName").val(),
                    email: $("#Email").val(),
                    productId: "NA01",
                    uid: phone,
                    channel: channel
                }

                $.ajax({
                    type: "POST",
                    async: true,
                    dataType: "json",
                    data: JSON.stringify(postData),
                    url: '/Fate/NA01',
                    contentType: 'application/json; charset=UTF-8',
                    success: function (result) {
                        if (result.txId) {
                            $("#paymentForm").attr("action", result.paymentUrl);
                            $("#paymentData").val(result.paymentData);
                            $("#paymentTxId").val(result.txId);

                            $("#paymentForm").submit();
                        }
                    }
                });
            });

            $('#AddNewWordBtn').click(function () {
                    var IntRegular = /^[0-9]*[1-9][0-9]*$/;
                    var newWordList = [];
                    var count = true;
                $('input[name=newWord]').each(function () {
                        console.log(IntRegular.test($(this).val()));
                        if (!IntRegular.test($(this).val()) || !($(this).val() < 100 && $(this).val() > 0) ) {
                            alert($(this).data('word') + '的筆畫請輸入1到2位數的整數，且不可為0');
                        $(this).val('');
                            count = false;
                        }

                        newWordList.push({ Word: $(this).data('word'), Stroke: $(this).val()})
                });

                    if (count) {
                        SaveNewWords(newWordList);
                    }
            });
        });

        function validate() {
            var message = '';
            if (!$('#LastName').val()) {
                message += '請輸入姓氏\n';
            }
            else if ($('#LastName').val().length > 2) {
                message += '姓氏長度最多2個字\n';
            }

            if (!$('#FirstName').val()) {
                message += '請輸入名字\n';
            }
            else if ($('#FirstName').val().length > 2) {
                message += '名字長度最多2個字\n';
            }

            if (message) {
                alert(message);
                return false;
            }
            else {
                return true;
            }
        }

        function SaveNewWords(newWords) {
            $('.blackBlock').show();
            $.ajax({
                type: "POST",
                async: true,
                dataType: "json",
                data: JSON.stringify(newWords),
                url: '@Url.Action("SaveWordStroke", "Fate")',
                contentType: 'application/json; charset=UTF-8',
                success: function (result) {
                    console.log(result.Success);
                    if (result.Success) {
                        $('#NA01Form').submit();
                    }
                    else {
                        alert('寫入新的文字筆畫失敗!');
                        $('.blackBlock').hide();
                        console.log(result.Message);
                    }
                }
            });
        }
    </script>

</body>
</html>
